@font-face{
    font-family: 'Lato';
    src: url("../fonts/Lato-Regular.ttf");
  }

#content{
    background-color: dimgray;
    cursor: default;
    height: 100vh;
}

#title-block{
    color: #FBFFA7;
    padding-left: 10vw;
    margin-left:0;

}

#logo{
    background-image: url('../images/logo.jpg');
}

#title{
    font-size: 2em;
    vertical-align:middle;
    line-height: 1em;
    border-bottom: 1px solid #FBFFA7;
    padding-bottom: .2em;
    margin-bottom: .3em;
    width: auto;
}

#loc{
    font-size: .7em;
}

#email{
    font-size: .6em;
    color: #FBFFA7;
 
}

html {
    font-size: 1rem;
  }
  
  @media (min-width: 576px) {
    html {
      font-size: 1.2rem;
    }
  }

  @media (min-width: 768px) {
    html {
      font-size: 1.6rem;
    }
  }
  
  @media (min-width: 992px) {
    html {
      font-size: 2rem;
    }
  }